# ===== DOMAIN =====
DOMAIN_NAME=enogueir.42.fr

# ===== MYSQL / MARIADB =====
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

# Secrets files (these will exist in /run/secrets inside containers)
MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
MYSQL_PASSWORD_FILE=/run/secrets/db_password

# ===== WORDPRESS USERS =====
# IMPORTANT: admin username must NOT contain admin/Admin/administrator
WP_TITLE=Inception
WP_ADMIN_USER=supervisor
WP_ADMIN_EMAIL=supervisor@enogueir.42.fr
WP_ADMIN_PASSWORD_FILE=/run/secrets/wp_admin_password

WP_USER_USER=editor
WP_USER_EMAIL=editor@enogueir.42.fr
WP_USER_PASSWORD_FILE=/run/secrets/wp_user_password

# ===== FTP (bonus) =====
FTP_USER=ftpuser
FTP_UID=33
FTP_GID=33
FTP_PASV_MIN=21100
FTP_PASV_MAX=21110
